<div class="mdtTable md-whiteframe-z1 layout-column">
    <!-- table header -->
    <mdt-header [table-header]="tableHeader"></mdt-header>

    <table cellpadding="0" cellspacing="0">
        <thead mdt-columns></thead>
        <tbody mdt-rows></tbody>
    </table>

    <mdt-footer [table-footer]="tableFooter"></mdt-footer>
</div>
<!--<md-content class="mdtTable md-whiteframe-z1 layout-column">
     table header 

     ^^TODO: comment out^^
    <mdt-header [table-header]="tableHeader"></mdt-header>

    <table cellpadding="0" cellspacing="0">
        <thead mdt-columns></thead>
        <tbody mdt-rows></tbody>
    </table>

    <mdt-footer [table-footer]="tableFooter"></mdt-footer>
</md-content>-->